.edits{ 
    margin-left:5px;padding:2px 4px;border-radius:50%;border:2px solid black;right:0px }
  .toplogo {
height : 30%;
width : 30%;
margin-top: 5px;
}
#nav a {
    display: inline-block;
    margin-right: 20px;
    color: white;
    opacity: 0.8;
    transition: 0.2 ease color;
  }
  #nav a.router-link-active,
   #nav a:hover { 
     opacity: 1; 
   } 
  .templates a {
    text-decoration: none;
  }
.icon {
    font-size: 20px;
    text-decoration: none;
}
@page {
  size: a4;
  margin: 0;
}
.address {
  width: 40%;
}
